html, body {
    color: white;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#title-screen {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    opacity: 0;
}

#video-bg {
    height: 100vh;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: fill;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: auto;
    z-index: -1;
}

#title-screen #title-screen-title {
    align-self: center;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex: 2;
    font-family: 'Titillium Web';
    font-size: 30vh;
    text-shadow: 0 0 4vh black;
    -webkit-text-stroke: 0.8vh black;
}

#title-screen #title-screen-title div {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 60%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#title-screen-title-arrow {
    z-index: 0
}

#title-screen-title-smashing {
    transform: scale(0.8, 1);
    z-index: 1
}

#title-screen-title-game {
    z-index: 2
}

#title-screen #title-screen-press-start {
    align-self: center;
    display: flex;
    flex: 1;
}

#title-screen-press-start a {
    align-self: center;
    animation: fade 1s ease-out infinite;
    color: #00ff00;
    font-family: 'Titillium Web';
    font-size: 5vh;
    font-weight: 900;
    opactiy: 1;
    text-decoration: none;
    text-shadow: 0 0 1vh black;
    -webkit-text-stroke: 0.2vh black;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

#select-style-screen {
    display: flex;
    flex-direction: column;
    height: 95vh;
    opacity: 0;
}

#select-style-screen h1 {
    color: white;
    font-family: 'Titillium Web';
    font-size: 10vh;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 0.5vh black;
    -webkit-text-stroke: 8px black;
}

#select-style-screen #styles {
    align-items: flex-end;
    display: flex;
    flex: 1;
    flex-direction: row;
}

#select-style-screen #styles div,
#select-style-screen #styles a {
    color: white;
    flex: 1;
    font-family: 'Titillium Web';
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    -webkit-text-stroke: 3px black;
}

#select-style-screen #styles a.selected {
    animation: fade 1s ease-out infinite;
}